@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --second_color: #060045;
}

[data-theme="dark"] {
  --second_color: cyan;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}