@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --second_color: #060045;
}

[data-theme="dark"] {
  --second_color: cyan;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.min-h-calc-100vh-70 {
  min-height: calc(100vh - 70px);
}

.link-style {
  color: white;
  padding: 4px 16px;
  transition: all 0.5s;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
}

.link-style:hover {
  background-color: white;
  color: #2c0b87;
  border-radius: 3px;
}

.active-link-style {
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  padding: 4px 16px;
  background-color: white;
  color: #2c0b87;
  border-radius: 3px;
}


.glass-background {
  background-color: rgba(98, 0, 255, 0.719);
  backdrop-filter: blue(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.5s;
}

.glass-background:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 70px -5px rgb(98, 0, 255);
}

.table-description {
  padding: 10px 10px;
  text-align: center;
  border: 1px solid rgb(201, 201, 201);
}

.table-row:hover {
  background-color: #ebebeb;
}